<!--Navigation-->
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            <i class="fa fa-laptop"></i> Quản lý người dùng</h3>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Trang chủ</a>
            </li>
            <li>
                <i class="fa fa-laptop"></i>Quản lý người dùng</li>
        </ol>
    </div>
</div>

<!-- main content-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="font-weight:bold">
                Danh sách người dùng
            </header>

            <table class="table table-striped table-advance table-hover">
                <tbody>
                    <!-- Header -->
                    <tr>
                        <th>
                            <i class="icon_bag"></i> Tên</th>
                        <th>
                            <i class="icon_currency"></i> Username</th>
                        <th>
                            <i class="icon_datareport"></i> Email|Kích hoạt</th>
                        <th>
                            <i class="icon_datareport"></i> Điện thoại</th>
                        <th>
                            <i class="icon_datareport"></i> Địa chỉ</th>
                        <th>
                            <i class="icon_tool"></i> Thao tác</th>
                    </tr>
                    <!-- Header -->

                    {{#each users}}
                    <!-- Item -->
                    <tr id="datarow{{@index}}">
                        <td class="user-name"> {{name}} </td>
                        <td class="user-username">{{username}}</td>
                        <td class="user-email">{{email}}|{{emailIsActivated}}</td>
                        <td class="user-phone">{{phone}}</td>
                        <td class="user-address">{{address}}</td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-info" data-toggle="modal" href="#modalUpdate" onclick="SendDataToUserModal('modalUpdate','datarow{{@index}}')">
                                    <i class="icon_pencil-edit_alt"></i>
                                </a>
                                <a class="btn btn-danger" data-toggle="modal" href="#modalDelete" onclick="SendDataToUserModal('modalDelete','datarow{{@index}}')">
                                    <i class="icon_trash"></i>
                                </a>
                            </div>
                        </td>
                        <td class="user-_id" style="display:none">{{_id}}</td>
                    </tr>
                    <!-- Item -->
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
</div>

<!-- pagination -->
<div class="text-center">
    <ul class="pagination">
        <li>
            <a href="#">1</a>
        </li>
        <li>
            <a href="#">2</a>
        </li>
        <li>
            <a href="#">3</a>
        </li>
        <li>
            <a href="#">4</a>
        </li>
        <li>
            <a href="#">5</a>
        </li>
        <li>
            <a href="#">»</a>
        </li>
    </ul>
</div>

<!--modal start-->
<!-- Modal UPDATE-->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Cập nhật thông tin người dùng</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-sm-2 control-label">Tên</label>
                    <div class="col-sm-10">
                        <input id="modalUpdateName" type="text" class="form-control">
                    </div>
                </div>


                <div class="row">

                    <label class="col-sm-2 control-label">Điện thoại</label>
                    <div class="col-sm-10">
                        <input id="modalUpdatePhone" type="text" class="form-control">
                    </div>
                </div>

                <div class="row">

                    <label class="col-sm-2 control-label">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input id="modalUpdateAddress" type="text" class="form-control">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Hủy</button>
                <button id="modalUpdateComfirmButton" data-dismiss="modal" class="btn btn-warning" type="button"> Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<!-- modal DELETE-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Xóa tài khoản</h4>
            </div>
            <div class="modal-body">

                <p>Bạn có thực sự muốn xóa
                    <span id="modalDeleteUsername" style="font-weight: bold"></span> ?</p>

            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Hủy</button>
                <button id="modalDeleteComfirmButton" class="btn btn-danger" type="button" data-dismiss="modal"> Xóa</button>
            </div>
        </div>
    </div>
</div>